<!DOCTYPE html>
<html>
<head>
  <title>RealtimeRails</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script type='text/x-handlebars'>
    {{outlet}}
  </script>
  <script type='text/x-handlebars' id="index">
    Connection:
    {{#if connected}}
      On
    {{else}}
      Off
    {{/if}}
    {{#if connected}}
      {{input value=chat action=submitMessage}}
      <button {{action submitMessage}}>Send</button>
    {{else}}
      {{input value=username action=connect placeholder="Choose a username"}}
      <button {{action connect}}>Connect</button>
    {{/if}}
    <ul>
    {{#each entry in log}}
      <li>{{entry.from}}: {{entry.message}}</li>
    {{/each}}
    </ul>
  </script>
</body>
</html>
