<!DOCTYPE html>
<html>
<head>
  <title>RealtimeRails</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script type='text/x-handlebars'>
    <div class="container">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <a class="brand" href="http://dockyard.com">DockYard</a>
          <ul class="nav">
            <li>{{#linkTo chat}}Chat{{/linkTo}}</li>
            <li><a href="#">Draw</a></li>
          </ul>
        </div>
      </div> 
      {{outlet}}
    </div>
  </script>
  <script type='text/x-handlebars' id="chat">
    <div class="container">
      <div id="chat-log">
        <table class="table">
        {{#each entry in log}}
          {{#if entry.notice}}
            <tr class="info">
              <td>{{entry.notice}}</td>
            </tr>
          {{else}}
            <tr>
              <td>
                <span class="from">{{entry.from}}</span>
                {{entry.message}}
              </td>
            </tr>
          {{/if}}
        {{/each}}
        </table>
      </div>
      <div class="navbar navbar-fixed-bottom">
        <div class="input-prepend">
          <span class="add-on">{{username}}</span>
          {{view App.TextField valueBinding="chat" action="submitMessage"}}
        </div>
      </div>
    </div>
  </script>
</body>
</html>
